<div class="row">
  <h1 class="col-md-12">Product list</h1>
</div>

<div class="form-group row"
  style="margin: 2rem 0rem; border-top: 1px solid #eee; padding-top: 1rem;  border-bottom: 1px solid #eee; padding-bottom: 1rem;">
  <label for="inputEmail3" class="col-sm-1 col-form-label">Filter by</label>
  <div class="col-sm-4">
    <input type='text' [(ngModel)]='productsFilter' />
  </div>
</div>

<div class="row">
        <div class="col-md-3"  *ngFor='let product of products | productFilter: productsFilter'>
          <div class="card">
            <img class="card-img-top img-fluid"
            src={{product.imageUrl}}
            style="height: 20rem;"
            *ngIf='showImage'>
            <div class="card-block">
              <h4 class="card-title">{{ product.productName }}</h4>
              <p class="card-text">{{ product.price | currency: 'USD':true: '1.2-2'}}</p>
              <div>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>
          </div>
      </div>
    
</div>

<div class="row" style="padding-top: 1rem;">
  <div class="col-md-12 text-right">
    <button class='btn btn-primary'(click)='toggleImage()'>
      {{showImage ? 'hide image': 'show image'}}
    </button>
  </div>
</div>